@font-face {
    font-family: 'Alkatra';
    src: url("../fonts/Alkatra-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Alkatra";
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);

}

header h1 {
    font-size: 5rem;
}

header form input {
    font-size: 2rem;
    font-family: "Alkatra";
}

header form input:nth-of-type(1) {
    padding: 0.8vh 0.8vw;
    border: none;

    ;
}

header form input:nth-of-type(2) {
    border: none;
    padding: 1vh 1vw;
    margin-left: 2vw;
    border-radius: 5px;
    background-color: white;

}

header form input:nth-of-type(2):hover {
    background-color: antiquewhite;
}

header form div select {
    font-size: 2rem;
    font-family: "Alkatra";
    margin: 5vh 0 5vh 5vw;
    border: none;
}

header section {
    margin-top: 5vh;
    width: 80%;
}

header section h1 {
    font-size: 4rem;
    margin-bottom: 1vh;
    line-height: 4.5rem;
}

header section img {
    width: 700px;
    height: 400px;
    border-radius: 20px;
}

header section p {
    font-size: 2rem;
    margin: 1.5vh 0;
}

header section a {
    font-size: 2rem;
    color: skyblue;
    text-decoration: none;
}

header section a:hover {
    color: palevioletred;
}